In [53]:
from sklearn import tree
import pandas as pd
import os

In [54]:
df = pd.read_csv(os.path.join("county_brewery_ml_filtered.csv"))
df.head()

,BestList,median_HHI_2019,bach_deg_pct_14to18,pop_density_per_mile,change_in_pop_decade,perc_female,perc_hispanic,unemployment_rate,perc_age_25_39,brewery_per_1M_people,brewery_count
0,False,54127.0,54127.0,592.627754,0.0002,0.527,0.041,2.9,0.2124,13.665911,9.0
1,False,54127.0,54127.0,592.627754,0.0002,0.527,0.041,2.9,0.2124,13.665911,9.0
2,False,68609.0,68609.0,465.209901,0.1022,0.511,0.052,2.5,0.2063,26.816194,10.0
3,False,82512.0,82512.0,168.946367,-0.0133,0.491,0.094,5.1,0.2482,41.666667,12.0
4,False,56150.0,56150.0,113.995308,0.0640,0.508,0.378,4.4,0.1894,18.142252,19.0

In [55]:
target = df["BestList"]
target_names = ["no", "yes"]

In [56]:
data = df.drop("BestList", axis=1)
feature_names = data.columns
data.head()

,median_HHI_2019,bach_deg_pct_14to18,pop_density_per_mile,change_in_pop_decade,perc_female,perc_hispanic,unemployment_rate,perc_age_25_39,brewery_per_1M_people,brewery_count
0,54127.0,54127.0,592.627754,0.0002,0.527,0.041,2.9,0.2124,13.665911,9.0
1,54127.0,54127.0,592.627754,0.0002,0.527,0.041,2.9,0.2124,13.665911,9.0
2,68609.0,68609.0,465.209901,0.1022,0.511,0.052,2.5,0.2063,26.816194,10.0
3,82512.0,82512.0,168.946367,-0.0133,0.491,0.094,5.1,0.2482,41.666667,12.0
4,56150.0,56150.0,113.995308,0.0640,0.508,0.378,4.4,0.1894,18.142252,19.0

In [57]:
# data.replace([data.inf, -data.inf], data.nan, inplace=True)

In [58]:
data.fillna(data.mean(), inplace=True)

In [59]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [60]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.9895833333333334

In [61]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.9895833333333334

In [62]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.13410791136805628, 'change_in_pop_decade'),
 (0.11920476261327717, 'perc_hispanic'),
 (0.11335955929979014, 'pop_density_per_mile'),
 (0.11093298291404666, 'perc_age_25_39'),
 (0.1059636995089948, 'brewery_count'),
 (0.1006275670146, 'brewery_per_1M_people'),
 (0.09979455969459006, 'median_HHI_2019'),
 (0.09645969886853234, 'bach_deg_pct_14to18'),
 (0.0613296374387241, 'perc_female'),
 (0.05821962127938857, 'unemployment_rate')]

In [63]:
## Results when counties with 1 or 2 breweries are filtered out

In [ ]:
## rf.predict on the array that we build to predict.