In [1]:
from sklearn import tree
import pandas as pd
import os

In [2]:
df = pd.read_csv(os.path.join("data_county_ml_v2_best.csv"))
df.head()

,median_HHI_2019,bach_deg_pct_14to18,pop_density_per_mile,change_in_pop_decade,perc_female,perc_hispanic,brewery_per_1M_people,unemployment_rate,perc_age_25_39,BestList
0,59871,31.3,140.417818,0.18,0.52,0.05,13.438813,2.7,0.17,False
1,54127,32.4,592.627754,0.00,0.53,0.04,13.665911,2.9,0.21,False
2,68609,41.7,465.209901,0.10,0.51,0.05,26.816194,2.5,0.21,False
3,49492,22.9,336.097476,0.00,0.53,0.03,9.680308,3.7,0.20,False
4,52307,30.3,158.391684,0.07,0.52,0.04,14.329727,2.7,0.21,False

In [3]:
target = df["BestList"]
target_names = ["no", "yes"]

In [4]:
data = df.drop("BestList", axis=1)
feature_names = data.columns
data.head()

,median_HHI_2019,bach_deg_pct_14to18,pop_density_per_mile,change_in_pop_decade,perc_female,perc_hispanic,brewery_per_1M_people,unemployment_rate,perc_age_25_39
0,59871,31.3,140.417818,0.18,0.52,0.05,13.438813,2.7,0.17
1,54127,32.4,592.627754,0.00,0.53,0.04,13.665911,2.9,0.21
2,68609,41.7,465.209901,0.10,0.51,0.05,26.816194,2.5,0.21
3,49492,22.9,336.097476,0.00,0.53,0.03,9.680308,3.7,0.20
4,52307,30.3,158.391684,0.07,0.52,0.04,14.329727,2.7,0.21

In [5]:
# data.replace([data.inf, -data.inf], data.nan, inplace=True)

In [6]:
data.fillna(data.mean(), inplace=True)

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [8]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

1.0

In [9]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

1.0

In [10]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.23639818714983973, 'bach_deg_pct_14to18'),
 (0.17315050913635924, 'median_HHI_2019'),
 (0.1488889468960176, 'pop_density_per_mile'),
 (0.13906692128103493, 'change_in_pop_decade'),
 (0.10873752132439735, 'brewery_per_1M_people'),
 (0.0771947065494943, 'perc_hispanic'),
 (0.06206778861329827, 'unemployment_rate'),
 (0.029737641283304604, 'perc_age_25_39'),
 (0.024757777766254083, 'perc_female')]

In [ ]:
## rf.predict on the array that we build to predict.